*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
    color: black;
}
.btn{
    padding: 10px 20px 10px 20px;
    background: red;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}  
.img-fluid{
    width: 100%;
}
.btn:hover{
    opacity: 0.9;
}
.containing-container{
    width: 100%;
    background: rgb(214, 201, 201);
    padding: 60px 0 60px 0;
    position: relative;
}
.containing-container-leaf{
    position: absolute;
    width: 40px;
}
.containing-container-leaf1{
    top: 25px;
    right: 100px;
    z-index: 10;
}
.containing-container-leaf2{
    width: 50px;
    left: 35px;
    bottom: 150px;
    z-index: 10;
}
.container{
    width: 90%;
    margin: auto;
    background: rgb(243, 236, 236);
    opacity: 0.7;
    position: relative;
    border: 2px solid white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.content{
    width: 80%;
    margin: auto;
    padding: 5px 0 5px 0;
}
header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo h3{
    font-size: 25px;
}
header .logo span{
    color: red;
}
header ul li{
    margin-right: 10px;
    font-size: 15px;
}
header ul li:last-child{
    margin-right: 0;
}
header ul li a#home{
    color: red;
}
.header-right-hand-side{
    display: flex;
    align-items: center;
}
.header-right-hand-side img{
    width: 20px;
}
.header-right-hand-side a{
    margin-left: 10px;
    font-size: 15px;
    color: white;
}
/* Order Menu */
.order-menu{
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
    height: auto;
}
.order-menu .order-menu-text, .order-menu-image{
    flex-grow: 1;
}
.order-menu .order-menu-text h1{
    font-size: 50px;
}
.order-button{
    margin: 20px 0 20px 0;
}
.btn-red, .btn-black{
    font-size: 10px;
}
.btn-red{
    color: white;
}
.btn-black{
    background: white;
    color: black;
}
.reviews h3{
    font-size: 15px;
}
.reviews .review-image{
    margin-top: 10px;
    display: flex;
}
.reviews .review-image img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.img-translate{
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
}
.img-translate1{
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
}
.img-translate2{
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
}
.p-img{
    background: black;
    color: white;
    display: inline-flex;
    place-items: center;
    padding: 0;
    /*display: inline-block;
    */width: auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.order-menu-image .offer{
    background: rgb(218, 218, 218);
    width: fit-content;
    padding: 10px;
    position: absolute;
    z-index: 200000;
    top: 55px;
    left: 5vw;
    opacity: 0.7;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.order-menu-image .offer h5{
    font-weight: bold;
}
.order-menu-image .offer p{
    font-size: 1vw;
}
.order-menu-image .offer p span{
    color: red;
}
.order-menu-image .offer img{
    width: 20px;
    position: absolute;
    top: -7px;
    right: 10px;
    z-index: 100000;
}
.tomato-img{
    position: absolute;
    width: 10vw;
    top: 70px;
    right: 30px;
}
.green-leaf{
    width: 3vw;
    position: absolute;
    top: 0;
}
.green-leaf1{
    top: 200px;
    left: 115px;
}
.green-leaf2{
    width: 2.7vw; 
    top: 300px;
    left: 140px;
}
/* Menu Display */
.menu-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 10px 0;
}
.arrow{
    background: red;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
    display: grid;
    place-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.arrow-btn{
    filter: invert(100)    ;
    -webkit-filter: invert(100)    ;
    background: none;
    width: 60px;
    position: absolute;
}

.arrow-left{
    background: black;
}
.cards{
    box-shadow: 5px 5px 1px 0 rgb(131, 129, 129) , -5px -5px 1px 0 rgb(212, 207, 207) ;
    background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
    height: auto;
    width: 13vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.food-and-cart{
    position: absolute;
    top: -50px;
}
.img-food{
    height: 150px;
    width: 15vw;
}
.img-food-2{
    width: 21vw;
}
.cart-container{
    background: black;
    padding: 5px;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 10px;
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 20px;
}
.cart-container-2{
    right: 40px;
}
.cart{
    width: 15px;
    filter: invert(100);
    -webkit-filter: invert(100);
}
.card-text{
    margin-top: 110px;
}
/*Media Queries */
@media screen and (max-width: 768px) {
    *{
        display: none;
    }
}